#landing-wrapper {
  padding: 0;
  margin-bottom: 10vw;
  min-height: max(700px, 100vh);
}

/* Foreground = text, buttons, non-animated elements */
#landing-fg {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15rem 0;
}

#landing-title {
  margin: 0 0 .25em 0;
  color: var(--white);
  font-size: 12rem;
  line-height: 2rem;
  letter-spacing: 0.25rem;
}

#date {
  margin: 0;
  color: var(--white);
  font-size: 4rem;
}

#landing-btn-wrapper {
  display: flex;
  justify-content: center;
}

.landing-btn {
  padding: 2.5rem 3rem;
  margin: 1.5rem;
  font-size: 5rem;
  line-height: 2rem;
  color: var(--white);
  border-radius: 1rem;
  cursor: pointer;
  background: var(--purple);
  font-family: 'Cute Font', cursive;
}

.landing-btn:hover {
  background: var(--light-blue);
  transform: scale(1.02);
}

#saturn,
#astronaut {
  position: absolute;
}

#saturn {
  top: 22vw;
  left: -10vw;
  width: 50vw;
}

#astronaut {
  top: 26vw;
  right: 0vw;
  width: 30vw;
}

@media (max-width: 1368px) {
  #saturn {
    top: 40vw;
  }

  #astronaut {
    top: 35vw;
  }
}

@media (min-width: 1800px) {
  #landing-wrapper {
    margin-top: 5vw;
  }

  #saturn {
    top: 20vw;
  }

  #astronaut {
    top: 15vw;
  }
}

@media (max-width: 1024px) {
  #landing-wrapper {
    margin-top: 10vw;
  }

  #landing-title {
    font-size: 10em;
  }

  #saturn {
    top: 55vw;
    left: -12vw;
  }

  #astronaut {
    top: 45vw;
  }
}

@media (max-width: 820px) {
  #landing-wrapper {
    margin-bottom: -50vw;
  }

  #landing-title {
    font-size: 6rem;
  }

  #date {
    font-size: 3rem;
  }

  .landing-btn {
    font-size: 3rem;
    padding: 1.5rem 2rem;
  }
}

@media (max-width: 480px) {
  #landing-wrapper {
    margin-top: 25vh;
  }

  #landing-title {
    font-size: 5rem;
  }

  #date {
    font-size: 2rem;
  }

  .landing-btn {
    font-size: 2rem;
    padding: 1rem 1.5rem;
  }

  #saturn {
    top: 75vh;
  }

  #astronaut {
    top: 30vh;
  }
}

@media (max-width: 375px) {
  #saturn {
    top: 85vh;
  }
}