#landing-wrapper {
  padding: 0;
  margin-bottom: 10vw;
  min-height: max(700px, 100vh);
  background: linear-gradient(348deg, #FFEABB 55.95%, rgba(16, 113, 81, 0.01) 133.72%);
  /* simple parallax */
}

/* Foreground = text, buttons, non-animated elements */
#landing-fg {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15rem 0;
}

#landing-title {
  margin: 0;
  color: var(--white);
  font-size: 10rem;
  line-height: 2rem;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
}

#landing-btn-wrapper {
  position: absolute;
  top: 163rem;
  left: 55rem;
}

.landing-btn {
  padding: 2.5rem 7rem;
  margin: 1.5rem;
  font-size: 5rem;
  line-height: 2rem;
  color: var(--white);
  border-radius: 3rem;
  cursor: pointer;
  text-transform: uppercase;
}

.landing-btn:hover {
  font-size: 5.2rem;
}

#countdown-text {
  position: absolute;
  top: 91.5rem;
  left: 8rem;
  font-size: 1.8rem;
  text-transform: uppercase;
}

.timer-element {
  display: flex;
  justify-content: space-evenly;
  width: 12vw;
  color: var(--white);
}

.timer-element p {
  margin: 15px;
}

#mountains {
  margin-top: -10rem;
}

#river {
  margin-top: -65rem;
  margin-bottom: -10px;
}

@media (min-width: 1800px) {
  #landing-wrapper {
    margin-top: 5vw;
  }
}

@media (max-width: 1024px) {
  #landing-wrapper {
    margin-top: 10vw;
  }

  #landing-title {
    font-size: 10em;
  }
}

@media (max-width: 820px) {
  #landing-wrapper {
    margin-bottom: -50vw;
  }

  #landing-title {
    font-size: 6rem;
  }

  .landing-btn {
    font-size: 3rem;
    padding: 1.5rem 2rem;
  }
}

@media (max-width: 480px) {
  #landing-wrapper {
    margin-top: 25vh;
  }

  #landing-title {
    font-size: 5rem;
  }

  .landing-btn {
    font-size: 2rem;
    padding: 1rem 1.5rem;
  }

}