#landing-wrapper {
  margin: 0 0 8rem 0;
  padding: 0;
  min-height: max(700px, 100vh);
}

#landing-fg,
#landing-mg,
#landing-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* Foreground = text, buttons, non-animated elements */
#landing-fg {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 8rem;
}

#landing-title {
  margin: 0 0 .25em 0;
  color: var(--white);
  font-size: 12rem;
  line-height: 2rem;
  letter-spacing: 0.25rem;
}

#date {
  margin: 0;
  color: var(--white);
  font-size: 4rem; 
}

@media (max-width: 768px) {
  #landing-title {
    font-size: 2rem;
  }
}

#landing-btn-wrapper {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.landing-btn {
  font-size: 2.3em;
  padding: 2.5rem 3rem;
  margin: 1.5rem;
  min-width: 10rem;
  font-size: 5rem;
  line-height: 2rem;
  color: var(--white);
  border-radius: 1rem;
  cursor: pointer;
  background: var(--purple);
}

.landing-btn:hover {
  background: var(--white);
  transform: scale(1.02);
}

#saturn,
#astronaut {
    position: absolute;
}

#saturn {
  top: 52%;
  left: -8%;
  height: 55vh;
}

#astronaut {
  top: 45%;
  right: 0%;
  height: 70vh;
}