#about-wrapper {
    background: var(--white);
    margin: -30px 0;
    padding-bottom: 20px;
}

#about-content {
    margin: 0 7rem;
    padding-top: 20px;
}

#about {
    font-size: 6rem;
    color: var(--black);
    margin-bottom: 0;
    margin-left: 0;
    text-align: center;
}

#about-paragraph {
    font-size: 1.85rem;
    font-family: "Nanum Gothic", sans-serif;
    text-align: center;
    line-height: 3.0rem;
}

#learn-more a {
    font-family: "Cute Font", cursive;
    font-size: 3rem;
    color: var(--black);
    text-decoration: underline;
}

#learn-more {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-family: "Cute Font", cursive;
}

@media (max-width: 820px) {
    #about {
        font-size: 5rem;
    }

    #about-content {
        margin: 0 5rem;
    }
}

@media (max-width: 480px) {
    #about {
        font-size: 4rem;
        margin: 0 2rem;
    }

    #about-paragraph {
        font-size: 16px;
        line-height: 2rem;
    }

    #about-content {
        margin: 0 1rem;
    }

    #learn-more,
    #learn-more a {
        font-size: 1.75rem;
    }

    .arrow {
        width: 20px;
    }
}

@media (max-width: 375px) {
    #learn-more,
    #learn-more a {
        font-size: 1.5rem;
    }
    #about-wrapper {
    margin: -20px 0;
}
}