#about-wrapper {
    background: var(--white);
    margin: -30px 0;
    padding-bottom: 20px;
}

#about-content {
    margin: 0 7rem;
    padding-top: 20px;
}

#about {
    font-size: 6rem;
    color: var(--black);
    margin-bottom: 0;
    margin-left: 0;
    text-align: center;
}

#about-paragraph {
    font-size: 1.85rem;
    font-family: "Nanum Gothic", sans-serif;
    text-align: center;
    line-height: 3.0rem;
}

#learn-more a {
    font-family: "Cute Font", cursive;
    font-size: 3rem;
    color: var(--black);
    text-decoration: underline;
}

#learn-more {
    font-size: 3rem;
    text-align: center;
    font-family: "Cute Font", cursive;
}