.navbar-container {
    align-items: center;
    display: flex;
    width: 100%;
    position: absolute;
    top: 0;
    margin-top: 1rem;
    row-gap: 2em;
}

.navbar-links {
    display: flex;
    flex-wrap: wrap;
    row-gap: 3.5rem;
    justify-content: center;
}

.hamburger {
    border: 0;
    height: 4rem;
    width: 4rem;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: var(--space-purple);
    transition: background-color 0.2s ease-in-out;
    position: absolute;
    right: 25px;
    transform: translateY(-50%);
    display: none;
}

.hamburger:hover {
    background-color: var(--purple);
}

.navbar-title,
.navbar-links a {
    margin: 0 2rem;
    color: var(--light-blue);
}

.navbar-title {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    font-size: 2rem;
}

.navbar-title img {
    height: 4.5rem;
    width: 4.5rem;
    margin: 1rem 0;
}

.underline {
    text-transform: uppercase;
    color: var(--white);
    font-family: 'Lato', sans-serif;
    letter-spacing: .1em;
    font-size: 2rem;
    font-weight: 600;
}

.underline:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #fff;
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
}

.underline:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

@media (max-width: 1150px) {
    .underline {
        font-size: 1.75rem;
    }
}

@media (max-width: 900px) {
    .navbar-container {
        flex-flow: column nowrap;
        justify-content: center;
    }

    .underline {
        font-size: 1.5rem;
    }

    .navbar-title img {
        height: 4rem;
        width: 4rem;
    }
}

@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .navbar-links {
        display: none;
    }

    .underline {
        font-size: 1rem;
    }

    .navbar-links {
        flex-direction: column;
    }

}