#sponsors-wrapper {
    color: var(--white);
    margin-top: -5px;
    z-index: 0;
    margin-bottom: 50vh;
}

#bottle {
    position: absolute;
    left: 0%;
    width: 35vw;
    z-index: 0;
}

#sponsorText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 55%;
    padding-left: 35%;
}

#sponsors {
    font-size: 7rem;
    line-height: 2rem;
    text-transform: uppercase;
    text-align: center;
    margin-left: 0;
    margin-bottom: 5rem;
    padding-top: 2rem;
}

#sponsor-us {
    font-size: 2rem;
    text-align: center;
    margin: 0;
    font-family: 'Abel';
}

#email {
    font-size: 2rem;
    font-weight: bold;
    text-decoration: underline;
    color: var(--white);
    font-family: 'Abel';
}

#sponsor-images {
    position: relative;
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    text-align: center;
    margin: 0 8rem;
}

#sponsor-images img {
    height: auto;
    max-width: 8rem;
    margin: .5rem;
    cursor: pointer;
    z-index: 1;
}

#sponsor-images img:hover {
    transform: scale(1.1);
}

.white-logo {
    filter: invert(1);
}

@media (max-width: 1180px) {
    #sponsors-wrapper {
        margin-bottom: 0;
    }

    #sponsor-images {
        margin-top: 20vh;
    }

    #sponsor-images img {
        max-width: 12rem;
    }
}

@media (max-width: 1024px) {
    #sponsor-images {
        margin-top: 10vh;
    }

    #sponsor-images img {
        max-width: 10rem;
    }
}

@media (max-width: 820px) {
    #sponsors {
        font-size: 6rem;
        padding-top: 0;
    }

    #sponsor-us,
    #email {
        font-size: 2rem;
    }

    #sponsor-images {
        margin: 5rem 2rem 0;
    }

    #sponsor-images img {
        max-width: 8rem;
    }
}

@media (max-width: 480px) {
    #sponsors {
        font-size: 4rem;
    }

    #sponsor-us,
    #email {
        margin-top: 15vh;
        font-size: 1.5rem;
    }

    #sponsor-images {
        margin: 0 1rem;
    }

    #sponsor-images img {
        max-width: 6rem;
    }
}